@media all {
    /*#region Footer */
    footer {
        &,
        p,
        .Normal,
        li p {
            font-size: $font-size-small;
        }
        .container-fluid {
            background: $tosic-footer-background;
            position: relative;
            padding-top: $grid-gutter-width*1.2;
            padding-bottom: $grid-gutter-width;
            @media (max-width: $screen-xs-max) {
                padding-top: $grid-gutter-width/1.5;
                padding-bottom: $grid-gutter-width/1.5;
            }
        }
        a {
            color: #0067B1;
        }
        a,
        a:link {
            text-decoration: none;
            margin-right: 20px;
        }
        a:visited,
        a:hover {
            color: $gray;
        }
        color:$tosic-footer-color;
    }
    .ly-footer-address {
        float: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            margin-right: 20px;
            &:nth-child(3) {
                clear: left;
                
            }
            span {
                margin-right: 20px;
            }
        }
    }
    .ly-footer-imprint {
        float: none;
        margin-top: 10px;
        a {
            color:$gray;
        }
    }
    @media (max-width: $screen-xs-max) {
        .ly-footer-imprint {
            float: none;
            clear: left;
        }
    }
    .ly-footer-login {
        float: none;
    }
    .ly-logo-minergie {
        position: absolute;
        right: $grid-gutter-width*1.5;
        top: 0;
        padding-top: $grid-gutter-width*1.2;
        padding-bottom: $grid-gutter-width;
        @media (max-width: $screen-sm-max) {
            position: static;
        }
        img {
            width: 130px;
        }
    }
}