@import "variables";
@import "../variables-2sic";

@media all {
	/*#region Header (and Main Navigation) */
	header { 
		background: $tosic-header-background;
		position:relative;
		z-index: 20;
		
		.container-fluid { 
			padding-top: $grid-gutter-width/1.5;
			padding-bottom: $grid-gutter-width/1.5;
		}
	} 
	
    .ly-logo {
		display: block;
		width:170px;
		max-width:80%;
		height: auto;
        img {
            width:100%;
            max-width:100%;
			height: auto;
        }
    }

    .ly-header-pane { 
		padding:0;
	}

    /*#endregion*/
}