@import "variables";
@import "../variables-2sic";

@media all {

    #nav-desktop {
        margin: 0;
        margin-top:5px;
        float: right;
         /* Main Navigation */
        
    }

	/* Reset for all Navigations */
	.ly-nav { 
		&, ul, li {
			margin: 0;
			padding: 0;
		}
    }
    
    .navbar-default {
    .ly-nav-main {
        li {
            a {
                text-decoration:none;
                color:$text-color;
                border-radius:5px;
                font-family:$headings-font-family;
                font-size: floor($font-size-base * 1.13);
                margin:0 0 0 5px;
                padding:5px 15px; 
                border:0px solid transparent;
                transition: background-color .5s;
            }
            &.active a {
                border-color:$brand-primary;
            }
        }
    }
    }
}