@import "variables";
@import "../variables-2sic";
@media all {
    /*#region Mobile Navigation */
    #nav-main-offcanvas {
        height: 100vh;
    }
    #nav-mobile {
        display: none;
    }
    .ly-nav-mobile-trigger {
        display: block;
        margin: 8px 10px 0 -10px;
        padding: 10px;
        outline: none!important;
        background: $gray;
        border-radius: 5px;
        &:after {
            border-bottom: 2px solid #FFF;
            border-top: 2px solid #FFF;
            text-indent: -9999px;
            display: block;
            content: ' ';
            width: 20px;
            height: 17px;
        }
        &:before {
            border-bottom: 2px solid #FFF;
            text-indent: -9999px;
            display: block;
            content: ' ';
            width: 20px;
            height: 10px;
            position: absolute;
        }
        @media (min-width: $screen-md-min) {
            display: none;
        }
    }
    a.ly-close,
    a.ly-close:link,
    a.ly-close:visited {
        color: $brand-primary;
        text-decoration: none;
    }
    a.ly-close {
        position: absolute;
        right: 15px;
        top: 15px;
        background: $gray;
        border-radius: 5px;
        display: block;
    }
    .ly-close span {
        color: #FFF;
        font-size: 20px;
        padding: 10px;
    }
    .sidr-open .ly-nav-mobile-trigger:after,
    .sidr-open .ly-nav-mobile-trigger:before {
        border-color: $brand-primary;
    }
    /* SIDR Off-Canvas Menu Styling */
    .ly-disablescroll {
        overflow: hidden;
    }
    .sidr {
        display: block;
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 999999;
        width: 80%;
        max-width: 480px;
        min-width: 280px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #FFF;
        color: $gray;
        .sidr-inner {
            overflow: hidden;
            position: relative;
        }
        &.right {
            left: auto;
            right: -100%;
        }
        &.left {
            left: 100%;
            right: auto;
        }
        .ly-logo {
            display: block;
            width: 160px;
            max-width: 100%;
            height: auto;
            margin: 15px 25px 25px 25px;
            img {
                width: 160px;
                max-width: 100%;
                height: auto;
            }
        }
        .ly-button {
            display: block;
            width: 160px;
            height: auto;
            margin-left: 25px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .ly-disablescroll .sidr {
        box-shadow: 15px 0 50px rgba(0, 0, 0, .55);
    }
    /*#endregion*/
    /* Region Mobile Navigation (in Sidr) */
    .ly-nav-mobile {
        margin: ($grid-gutter-width / 2) 0;
        margin-top: 80px;
        border-top: 2px solid rgba(175, 202, 11, 1.0);
        font-size: $font-size-base;
        &,
        ul {
            margin-left: 0;
            padding: 5px 0 0 0;
            list-style-type: none;
        }
        /* mobilenavigation default styles for all levels */
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                transition: color .4s;
            }
        }
        /* mobilenavigation level 1 */
        >li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            >.ly-linkwrapper>a {
                text-decoration: none;
                display: block;
                padding: 10px 15px 11px 25px;
                color: $gray;
                font-size: 24px;
                font-weight: 300;
            }
            &.active>.ly-linkwrapper>a,
            >.ly-linkwrapper>a:hover {
                color: rgba(175, 202, 11, 1.0);
            }
            /* mobilenavigation level 2 */
            >ul {
                background-color: rgba(175, 202, 11, 0.4);
                display: none;
                >li {
                    border-bottom: 1px solid #FFF;
                    &.last {
                        border-bottom: none;
                    }
                    margin:0;
                    >.ly-linkwrapper>a {
                        color: $gray;
                        display: block;
                        padding: 10px 15px 10px 25px;
                        line-height: 1.3em;
                    }
                    &.active>.ly-linkwrapper>a,
                    >.ly-linkwrapper>a:hover {
                        color: rgba(175, 202, 11, 1.0);
                    }
                    /* mobilenavigation level 3 */
                    >ul {
                        padding-bottom: $grid-gutter-width / 2;
                        >li {
                            >.ly-linkwrapper>a {
                                color: $gray;
                                display: block;
                                padding: 4px 10px 4px 40px;
                                font-size: 0.85em;
                            }
                            &.active>.ly-linkwrapper>a,
                            >.ly-linkwrapper>a:hover {
                                color: rgba(175, 202, 11, 1.0);
                            }
                            /* mobilenavigation level 3 */
                            >ul {
                                >li {
                                    >.ly-linkwrapper>a {
                                        color: $gray;
                                        display: block;
                                        padding: 4px 10px 4px 60px;
                                        font-size: 0.85em;
                                    }
                                    &.active>.ly-linkwrapper>a,
                                    >.ly-linkwrapper>a:hover {
                                        color: rgba(175, 202, 11, 1.0);
                                    }
                                    /* mobilenavigation level 4+ */
                                    ul {
                                        li {
                                            .ly-linkwrapper a {
                                                color: $gray;
                                                display: block;
                                                padding: 4px 10px 4px 80px;
                                                font-size: 0.85em;
                                            }
                                            &.active .ly-linkwrapper a,
                                            .ly-linkwrapper a:hover {
                                                color: rgba(175, 202, 11, 0.4);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .ly-linkwrapper {
            position: relative;
        }
        .ly-navopener {
            padding: 17px;
            display: inline-block;
            background: rgba(175, 202, 11, 0.4);
            z-index: 2000;
            ;
            position: absolute;
            right: 10px;
            top: 4px;
            bottom: 4px;
            border-radius: 5px;
            cursor: pointer;
            .ly-navopener-icon {
                border-top: 8px solid rgba(255, 255, 255, 1.0);
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                margin-top: 0px;
            }
        }
        ul .ly-navopener {
            display: none;
        }
        .ly-active>.ly-linkwrapper .ly-navopener .ly-navopener-icon {
            border-top: none;
            border-bottom: 8px solid rgba(255, 255, 255, 1.0);
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
    }
    /*#endregion*/
}