@import "variables";
@import "../variables-2sic";

@media all {

    #nav-desktop {
        margin: 3px 0 0 0;
		float: right;
    }

	/* Reset for all Navigations */
	.ly-nav { 
		&, ul, li {
			margin: 0;
			padding: 0;
		}
	}
	
    /* Main Navigation */
    .ly-nav-main {
        li {
            a {
                text-decoration:none;
                border-radius:5px;
                font-family:$headings-font-family;
                font-size:18px;
				color: $brand-primary;
                margin:0 0 0 5px;
                padding:5px 15px;
                border-width:0;
                border-color:transparent;
                border-style:solid;
				transition: background-color .5s;
            }
            &.active a {
                border-color:$brand-primary;
            }
        }
    }
}