@import "variables";
@import "../variables-2sic";

@media all {

    a.ly-top {
		position: fixed;
		bottom: 30px;
		right: 7px;
		font-size: 35px;
		opacity: 0;
		z-index: 100;
		color: $gray-darker;
		@media (min-width: $screen-sm-min) {
			display: none!important;
		}
		transition: opacity 0.5s;
		pointer-events: none;
	}
	.ly-top.ly-top-visible {
		opacity: .72;
		pointer-events: auto;
	}
}