/* Custom 2sic variables */
$tosic-header-background: #fff; /* use .navbar-inverse insetad of .navbar-default in default.ascx for dark headers */
$tosic-footer-background:#FFF;
// $tosic-footer-color: #203b8a;
$tosic-footer-color: #0067B1;